
.card {
  display: flex;
  width: 400px;
  // height: 60px;
  background-color: rgb(28, 16, 8);
  // background-color: grey;
  align-items: top;
  // justify-content: space-between;
  color: white;

  h5 {
    margin: 0;
    color: inherit;
  }

  .left {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 4px;
    overflow: hidden;
  }

  .right {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
  }

  .actionContainer {
    margin-left: auto;
    padding: 0px 10px;
    display: flex;
    align-items: center;

      svg {
        width: 40px;
        height: 40px;
        transition: color 0.5s;
        cursor: pointer;

        &:hover {
          color: orange;
        }
      }
  }

  audio {
    width: 100px;
  }

  // .player {
  //   margin-top: 10px;
  // }
}
