
.ant-slider-track {
  background-color: #f6f6f6;
  height: 0.2rem;
  transition: height 1s;
}

.ant-slider:hover {
  background-color: #f6f6f6;
  height: 0.3rem;

}
.ant-slider:hover .ant-slider-rail {
  background-color: red;
}

.ant-slider-handle {
  visibility: hidden;
}

.ant-slider-rail {
  height: 0.2rem;
  background-color: #969696;

}
