.ant-slider:hover {
  .ant-slider-track {
    background-color: #f6f6f6;
  }
  .ant-slider-rail {
    background-color: #969696;
  }
  // .ant-slider-handle  {
  //   width: 0.6rem;
  //   height: 0.6rem;
  // }
}

.ant-slider-rail {
  height: 0.12rem;
  background-color: #969696;
}

.ant-slider-track {
  height: 0.12rem;
  background-color: #f6f6f6;
}

.ant-slider-handle {
  width: 0;
  height: 0;
  background-color: #f6f6f6;
  transition: width 0.2s, height 0.2s;
  border: 0px;
}
