@import "form.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "KumbhSans";
  src: url("../fonts/KumbhSans-Regular.ttf");
}

html,
body {
  font-family: KumbhSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  width: 100%;
  @apply bg-bgc text-text md:text-xs;
}

#__next {
  height: 100%;
}
