@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "KumbhSans";
  src: url("../fonts/KumbhSans-Regular.ttf");
}

/* @layer base {
  h3 {
    @apply text-base font-semibold text-gray-100;
  }
  h4 {
    @apply text-sm font-semibold text-gray-300;
  }
} */

html,
body {
  font-family: KumbhSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  width: 100%;
  @apply bg-gradient-to-r from-slate-900 to-zinc-800;
}

#__next {
  height: 100%;
}

.clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
