.card {
  min-width: 300px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  h5 {
    margin: 0;
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .left {
    width: 100px;
    height: 100px;
  }

  .player {
    margin-top: 10px;
  }
}
