.container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.authButton {
  background-color: white;
  font-weight: bold;
  color: rgb(255, 157, 37);
  padding: 0.5rem 0.5rem;
  align-items: center;
  margin-left: 1rem;
  border-radius: 0.5rem;
  border: 0;
  transition-duration: 300ms;
  cursor: pointer;

  /* &:hover {
    background-color: rgb(255, 157, 37);
    color: white;
  } */
}

.currentAccount {
  padding: 0.5rem 0.25rem;
  border-width: 1px;
  border-color: rgb(107 114 128);
  border-radius: 9999px;
  display: flex;
  align-items: center;

  .accountAddress {
    margin-left: 0.5rem;
  }
}
