#### CLIENT

NEXT_PUBLIC_TRACKZ_EDITION_CONTRACT=0x3fB61AAA31c038E16d3ca27F154F5E88Bc00c67E
NEXT_PUBLIC_NFT_STORAGE_API_KEY=azeaze
NEXT_PUBLIC_RARIBLE_TRACKZ_CONTRACT=KT1Nftyfonxcp5wkZJj681kASiMYbWExd1qc

#### SERVER 

NETWORK=rinkeby
MINT_WALLET_PRIVATE_KEY=....

